Backup_2025-09-26Tiktok video scraper.json
{
  "createdAt": "2025-09-21T14:00:11.888Z",
  "updatedAt": "2025-09-21T16:00:34.000Z",
  "id": "ywjaT3gdmngYjpyo",
  "name": "Tiktok video scraper",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Edit me \nUpdate API keys, tokens, prompts, and additional settings.",
        "height": 308,
        "width": 176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        32
      ],
      "typeVersion": 1,
      "id": "e06406bc-ef30-4fb0-ae94-f7207b5d1509",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        144
      ],
      "id": "ccf2b2ab-416a-47c0-80b3-3dd6f4670dae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "Passing video to Gemini",
        "height": 340,
        "width": 1248,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        368
      ],
      "typeVersion": 1,
      "id": "e4509e61-7c0e-4c39-a5d0-11596d0f12d2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Updating database\n",
        "height": 324,
        "width": 1280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        32
      ],
      "typeVersion": 1,
      "id": "5504a1bb-ef97-437b-acfc-aed47fc0b62c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Analysis",
        "height": 340,
        "width": 840,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        16
      ],
      "typeVersion": 1,
      "id": "3ccdc722-faaf-4b15-a22d-9261f1feee05",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "views",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        560,
        144
      ],
      "id": "88dc2d5d-e2fb-48aa-9184-e758b819ff44",
      "name": "Sort1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHq8rXQgnTUdh9Y",
          "mode": "list",
          "cachedResultName": "Content Research (TikTok)",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y"
        },
        "table": {
          "__rl": true,
          "value": "tblxyZurkBnXa6S7z",
          "mode": "list",
          "cachedResultName": "Topics",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y/tblxyZurkBnXa6S7z"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        144
      ],
      "id": "409cc826-bd59-4154-b9b2-c0e153c85d26",
      "name": "Get Topics",
      "credentials": {
        "airtableTokenApi": {
          "id": "rSNIhezu0OsOBSGS",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appHq8rXQgnTUdh9Y",
          "mode": "list",
          "cachedResultName": "Content Research (TikTok)",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y"
        },
        "table": {
          "__rl": true,
          "value": "tbln80uUyABnJ27hU",
          "mode": "list",
          "cachedResultName": "Reels",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y/tbln80uUyABnJ27hU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reelId": "={{ $json.id }}",
            "videoViewCount": "={{ $json.views }}",
            "commentsCount": "={{ $json.comments }}",
            "timestamp": "={{ $json.uploadedAtFormatted.toDateTime().toLocaleString(DateTime.DATETIME_FULL) }}",
            "caption": "={{ $json.title }}",
            "hashtags": "={{ $json.hashtags.join() }}",
            "likesCount": "={{ $json.likes }}",
            "videoUrl": "={{ $json.video.url }}",
            "user": "={{ $json.channel.username }}"
          },
          "matchingColumns": [
            "reelId"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reelId",
              "displayName": "reelId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoViewCount",
              "displayName": "videoViewCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "likesCount",
              "displayName": "likesCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "commentsCount",
              "displayName": "commentsCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "format",
              "displayName": "format",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Tutorial",
                  "value": "Tutorial"
                },
                {
                  "name": "Review-Showcase",
                  "value": "Review-Showcase"
                },
                {
                  "name": "Challenge",
                  "value": "Challenge"
                },
                {
                  "name": "Behind-the-scenes",
                  "value": "Behind-the-scenes"
                },
                {
                  "name": "Reaction",
                  "value": "Reaction"
                },
                {
                  "name": "Vlog",
                  "value": "Vlog"
                },
                {
                  "name": "Before-After",
                  "value": "Before-After"
                },
                {
                  "name": "Q&A",
                  "value": "Q&A"
                },
                {
                  "name": "Unboxing or Hauls",
                  "value": "Unboxing or Hauls"
                },
                {
                  "name": "Skit",
                  "value": "Skit"
                },
                {
                  "name": "Collaboration",
                  "value": "Collaboration"
                },
                {
                  "name": "Other",
                  "value": "Other"
                },
                {
                  "name": "Giveaway",
                  "value": "Giveaway"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hook",
              "displayName": "hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "visual hook",
              "displayName": "visual hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        896,
        144
      ],
      "id": "1ba35e8e-053d-4ae5-9051-63e25b99fb07",
      "name": "Add/Update Tiktoks",
      "credentials": {
        "airtableTokenApi": {
          "id": "rSNIhezu0OsOBSGS",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.fields.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        464
      ],
      "id": "ae2338df-9a84-4206-b6fe-5ca75d2d8980",
      "name": "Download file from TikTok"
    },
    {
      "parameters": {
        "content": "**Scraper** \n\nhttps://apify.com/apidojo/tiktok-scraper\n\nYou can change dateRange to \"YESTERDAY\", \"THIS_MONTH\",\n\"THIS_WEEK\",\n\"LAST_THREE_MONTHS\", \"LAST_SIX_MONTHS\"\"ALL_TIME\"",
        "height": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1632
      ],
      "typeVersion": 1,
      "id": "7aaeb52e-d720-4a8f-87e4-be1d9ea55d52",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Apify**\n\nCreate an Apify account\nhttps://apify.com\n\nCreate an Apify access token https://console.apify.com/settings/integrations\n",
        "height": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        1440
      ],
      "typeVersion": 1,
      "id": "b8ccb1e9-b10b-42f6-8486-17347d653573",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**Gemini**\n\nCreate an API key for Gemini https://aistudio.google.com/app/apikey\n\nGoogle AI Studio\nhttps://aistudio.google.com/\n\n",
        "height": 220,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        368
      ],
      "typeVersion": 1,
      "id": "00528a13-26de-435e-93e8-5314ebd47d66",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "**Airtable**\n\n\nCopy the Airtable database and create an account https://airtable.com/appHq8rXQgnTUdh9Y/shrDl5A7Mv7UxWi2K \n*Click “Copy Base” to copy*\n\nAccess Token https://airtable.com/create/tokens\nand give it permission\n- data.records:read\n- data.records:write\n- schema.bases:read\n\n\nCreate Airtable Credential within n8n\n",
        "height": 360,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        1984
      ],
      "typeVersion": 1,
      "id": "6842190e-0949-4af7-9c42-efcc96ff6bcc",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1024,
        464
      ],
      "id": "3cc0a7ed-f700-47e4-a78c-c55555b55c1e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eMBg8QrZHMSKG9cA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.fields.user }}+{{ $json.id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/10umZzSpcYo6l_lxUDoO5eAss76dyIhrj",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        464
      ],
      "id": "ad98a4e9-bdd3-420b-b32d-333c973bdcab",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eMBg8QrZHMSKG9cA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Config').first().json.GeminiKey }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"file\": {\n\"display_name\": \"{{ $json.name }}\"\n}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        464
      ],
      "id": "33c59413-e440-45f9-aba7-175a1d55cf80",
      "name": "Gemini: Set up upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gemini: Set up upload').item.json.headers['x-goog-upload-url'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Config').first().json.GeminiKey }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Length",
              "value": "={{ $('Upload file').item.json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        464
      ],
      "id": "89373d04-e39e-41de-98ab-1135ba5809b8",
      "name": "Gemini: Upload file"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3152,
        64
      ],
      "id": "188c2137-5d39-4871-a977-f482f92c608b",
      "name": "Wait",
      "webhookId": "a4b37d63-4a12-4e60-9aee-9e8036205a53"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHq8rXQgnTUdh9Y",
          "mode": "list",
          "cachedResultName": "Content Research (TikTok)",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y"
        },
        "table": {
          "__rl": true,
          "value": "tbln80uUyABnJ27hU",
          "mode": "list",
          "cachedResultName": "Reels",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y/tbln80uUyABnJ27hU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reelId": "={{ $('Get Tiktoks').item.json.id }}",
            "style": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].style }}",
            "tone": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].tone }}",
            "hook": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].hook }}",
            "visual hook": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].visualHook }}",
            "CTA": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].CTA }}",
            "analysis": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].analysis }}",
            "format": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].category }}"
          },
          "matchingColumns": [
            "reelId"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reelId",
              "displayName": "reelId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "videoViewCount",
              "displayName": "videoViewCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "likesCount",
              "displayName": "likesCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "commentsCount",
              "displayName": "commentsCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "format",
              "displayName": "format",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Tutorial",
                  "value": "Tutorial"
                },
                {
                  "name": "Review-Showcase",
                  "value": "Review-Showcase"
                },
                {
                  "name": "Challenge",
                  "value": "Challenge"
                },
                {
                  "name": "Behind-the-scenes",
                  "value": "Behind-the-scenes"
                },
                {
                  "name": "Reaction",
                  "value": "Reaction"
                },
                {
                  "name": "Vlog",
                  "value": "Vlog"
                },
                {
                  "name": "Before-After",
                  "value": "Before-After"
                },
                {
                  "name": "Q&A",
                  "value": "Q&A"
                },
                {
                  "name": "Unboxing-or-Hauls",
                  "value": "Unboxing-or-Hauls"
                },
                {
                  "name": "Skit",
                  "value": "Skit"
                },
                {
                  "name": "Collaboration",
                  "value": "Collaboration"
                },
                {
                  "name": "Other",
                  "value": "Other"
                },
                {
                  "name": "Giveaway",
                  "value": "Giveaway"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "User-generated",
                  "value": "User-generated"
                },
                {
                  "name": "Professionally-produced",
                  "value": "Professionally-produced"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tone",
              "displayName": "tone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High-Energy",
                  "value": "High-Energy"
                },
                {
                  "name": "Funny-Playful",
                  "value": "Funny-Playful"
                },
                {
                  "name": "Informative-Educational",
                  "value": "Informative-Educational"
                },
                {
                  "name": "Emotional-Vulnerable",
                  "value": "Emotional-Vulnerable"
                },
                {
                  "name": "Cool-Confident",
                  "value": "Cool-Confident"
                },
                {
                  "name": "Rant-Frustrated",
                  "value": "Rant-Frustrated"
                },
                {
                  "name": "Romantic-Sentimental",
                  "value": "Romantic-Sentimental"
                },
                {
                  "name": "Inspirational-Motivational",
                  "value": "Inspirational-Motivational"
                },
                {
                  "name": "Calming-Soothing",
                  "value": "Calming-Soothing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hook",
              "displayName": "hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "visual hook",
              "displayName": "visual hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3584,
        144
      ],
      "id": "82048baf-c3d8-4795-a0a3-7f3a893a3f10",
      "name": "Add analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Config').first().json.GeminiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"contents\": [\n        {\n            \"parts\": [\n                {\n                    \"text\": \"{{$('Config').first().json.analysisPrompt}}\"\n                },\n                {\n                    \"file_data\": {\n                        \"mime_type\": \"{{ $('Save Values').item.json.mimeType }}\",\n                        \"file_uri\": \"{{ $('Save Values').item.json.geminiFileUrl }}\"\n                    }\n                }\n            ]\n\n        }\n    ],\n    \"generationConfig\": {\n        \"response_mime_type\": \"application/json\",\n        \"response_schema\": {\n            \"type\": \"ARRAY\",\n            \"items\": {\n                \"type\": \"OBJECT\",\n                \"properties\": {\n                    \"analysis\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"category\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"hook\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"visualHook\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"style\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"CTA\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"tone\": {\n                        \"type\": \"STRING\"\n                    }\n                },\n                \"required\": [\n                    \"analysis\",\n                    \"category\",\n                    \"hook\",\n                    \"visualHook\",\n                    \"style\",\n                    \"CTA\",\n                    \"tone\"\n                ]\n            }\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        64
      ],
      "id": "4d542a5c-abce-42c7-a8b2-72577a95bb39",
      "name": "Gemini: Analyze",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "170c7186-644d-47f9-9b48-bd4d10a47c40",
              "name": "geminiFileUrl",
              "value": "={{ $json.file.uri }}",
              "type": "string"
            },
            {
              "id": "2064aedb-aee8-48fa-8e37-448816afa46f",
              "name": "mimeType",
              "value": "={{ $json.file.mimeType }}",
              "type": "string"
            },
            {
              "id": "50feff58-2b22-4dd7-8588-ca65b0065cb0",
              "name": "googleDriveUrl",
              "value": "={{ $('Upload file').first().json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "d99d5d13-a23b-471b-87d5-ec86d89be4be",
              "name": "name",
              "value": "={{ $json.file.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2976,
        64
      ],
      "id": "3d06e0b4-9649-4fe0-933c-f01b5d5952f5",
      "name": "Save Values"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1248,
        144
      ],
      "id": "b11674ed-d489-469f-929f-01a90b91bce3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "maxItems": "={{ $('Config').first().json.getTop }}"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        720,
        144
      ],
      "id": "a19d1761-c971-4000-801e-0ea798f28bd5",
      "name": "Limit: Top N"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/5K30i8aFccKNF5ICs/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.ApifyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customMapFunction\": \"(object) => { return {...object} }\",\n  \"dateRange\": \"THIS_WEEK\",\n  \"keywords\": [\n    \"{{ $json.Name }}\"\n  ],\n  \"location\": \"US\",\n  \"maxItems\": {{ $('Config').item.json.videosCount }}\n} ",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": "=21"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        144
      ],
      "id": "f7df66fd-5554-4924-9d23-0821e5ce3d97",
      "name": "Get Tiktoks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6b56ab7-ab20-4ffd-8b57-cdd2915e1dcb",
              "name": "ApifyKey",
              "value": "",
              "type": "string"
            },
            {
              "id": "98276af2-18a4-458b-acdd-65f4a23200d7",
              "name": "GeminiKey",
              "value": "",
              "type": "string"
            },
            {
              "id": "9d842c98-dbc6-4862-ae59-12775dd4f6bb",
              "name": "getTop",
              "value": 15,
              "type": "number"
            },
            {
              "id": "8062cef5-55cd-4a6e-a2d7-be4c74d6956d",
              "name": "videosCount",
              "value": 5,
              "type": "number"
            },
            {
              "id": "fcde1437-dfd5-4c66-bd89-2f0934f8233e",
              "name": "analysisPrompt",
              "value": "Provide an analysis of the TikTok video based solely on the following criteria: 1. Determine which single category best fits the video based on its content and potential connection to the video’s success. Choose only one from: Tutorial, Review-Showcase, Giveaway, Challenge, Behind-the-scenes, Reaction, Vlog, Before-After, Q&A, Unboxing-or-Hauls, Skit, Collaboration. If none apply, select Other. 2. Determine Hook and Visual Hook and why it grabs the viewer's attention. 3 Determine content type. Choose only from User-generated or Professionally-produced. 4. Determine presence and effectiveness of any CTA (e.g., “follow,” “comment,” “share”) 5. Given the video's popularity, explain in one sentence what makes it effective. 6. Categorize the video by tone. Select a single category best fits the video based on its content and potential connection to the video’s success. Choose only one from: High-Energy, Funny-Playful, Informative-Educational, Cool-Confident, Calming-Soothing, Rant-Frustrated, Romantic-Sentimental, Inspirational-Motivational.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        144
      ],
      "id": "6e4c4e4a-cbbc-4c31-a08e-ab419c7d9374",
      "name": "Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "886ec1ce-a8cc-4b06-8c0c-b3b53bb2c448",
              "leftValue": "={{ $json.fields.analysis }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1056,
        144
      ],
      "id": "f2901da0-fbd4-4f86-9e7b-4dd3701efda5",
      "name": "Analyzed yet?"
    },
    {
      "parameters": {
        "content": "**Google Drive**\n\nCreate new Credentials\nhttps://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal",
        "height": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        368
      ],
      "typeVersion": 1,
      "id": "b3d9ed0b-93d8-403a-b8db-25b586a14e10",
      "name": "Sticky Note8"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Limit: Top N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Topics": {
      "main": [
        [
          {
            "node": "Get Tiktoks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add/Update Tiktoks": {
      "main": [
        [
          {
            "node": "Analyzed yet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file from TikTok": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Gemini: Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Gemini: Set up upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Set up upload": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Upload file": {
      "main": [
        [
          {
            "node": "Save Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Gemini: Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add analysis": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Analyze": {
      "main": [
        [
          {
            "node": "Add analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Values": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file from TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit: Top N": {
      "main": [
        [
          {
            "node": "Add/Update Tiktoks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tiktoks": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyzed yet?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1bf614d2-2ccd-46dd-9c84-92ad978c5be0",
  "triggerCount": 0,
  "tags": []
}
