Backup_2025-09-26Email Follow Up Agent.json
{
  "createdAt": "2025-08-02T14:10:02.928Z",
  "updatedAt": "2025-09-09T07:23:20.000Z",
  "id": "UHyF1o0MQ9LffDLl",
  "name": "Email Follow Up Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json['Email '] }}",
        "subject": "=Hi {{ $json['Email '] }}",
        "message": "=Hi {{ $json.Name }}\nHow can i help you ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -288,
        -64
      ],
      "id": "486344ab-145b-4ee8-ab83-09a7ec25a9ba",
      "name": "Send a message",
      "webhookId": "28acadc4-8415-45dd-ae55-254276c95793",
      "credentials": {
        "gmailOAuth2": {
          "id": "Akfxp65UCevrEpLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        64
      ],
      "id": "05046b73-6d65-4256-9267-c17f6bc0dfd2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1teH3-5C7csc1XACV8aFK2JaPc1Yl35CGUnTD74bmu4E",
          "mode": "list",
          "cachedResultName": "Email Follow up  ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1teH3-5C7csc1XACV8aFK2JaPc1Yl35CGUnTD74bmu4E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1teH3-5C7csc1XACV8aFK2JaPc1Yl35CGUnTD74bmu4E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('DATA').item.json.Name }}",
            "Email ": "={{ $('DATA').item.json['Email '] }}",
            "Sent": "=yes"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -128,
        48
      ],
      "id": "20489969-967f-4a64-899f-7ee5e5340b66",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LqP8MSiwVRVCSrSN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        48
      ],
      "id": "705b6e34-9fee-40e9-80e4-ccfcea27c1de",
      "name": "Wait",
      "webhookId": "24c26e9b-df2d-44ed-83c1-e6bc5c0aba64"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -624,
        64
      ],
      "id": "faae1a91-fe87-4fba-a7d6-670b94f39ee6",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6a3df13-65b3-41d8-8333-fd0775afb69c",
              "leftValue": "={{ $json.Sent }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -752,
        64
      ],
      "id": "58c467c0-0e46-419e-b2cc-fb20f4f59e18",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        64
      ],
      "id": "5f2dd0c1-c5df-466c-85b8-1d344bd2e04f",
      "name": "Start"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1teH3-5C7csc1XACV8aFK2JaPc1Yl35CGUnTD74bmu4E",
          "mode": "list",
          "cachedResultName": "Email Follow up  ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1teH3-5C7csc1XACV8aFK2JaPc1Yl35CGUnTD74bmu4E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1teH3-5C7csc1XACV8aFK2JaPc1Yl35CGUnTD74bmu4E/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -896,
        64
      ],
      "id": "828d8cfb-5ba6-43eb-a811-438f3138efa1",
      "name": "DATA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LqP8MSiwVRVCSrSN",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        []
      ]
    },
    "DATA": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "91868324-6ea9-4563-b4b6-669f0c8304bd",
  "triggerCount": 0,
  "tags": []
}
