Backup_2025-09-26Feedback Analyzer.json
{
  "createdAt": "2025-08-02T13:47:35.978Z",
  "updatedAt": "2025-08-20T05:55:28.000Z",
  "id": "6smiu8sr5nDUsFV6",
  "name": "Feedback Analyzer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "=Ai Agents",
        "formDescription": "This is a tutorial ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your name"
            },
            {
              "fieldLabel": "type your email"
            },
            {
              "fieldLabel": "why join"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -864,
        144
      ],
      "id": "81077459-5116-4204-b267-e3ac8725a3b4",
      "name": "On form submission",
      "webhookId": "6634bcdc-20e8-461b-86d4-6b9c24166722"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U096X2V9P1R",
          "mode": "list",
          "cachedResultName": "aditya.das.own"
        },
        "text": "=Congratulation \n\nyou've got a new lead\n name : {{ $('On form submission').item.json['What is your name'] }}\n\n Email :{{ $('On form submission').item.json['type your email'] }}\n\nreason : {{ $('On form submission').item.json['why join'] }}\nLead Qauality : {{ $('AI Agent').item.json.output['Lead Qauality'] }} Garde ",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        64,
        48
      ],
      "id": "d5ee694d-832a-417e-8f4c-9d384b369f70",
      "name": "Send a message",
      "webhookId": "d67a41d7-a026-4df1-8a4b-b29be2a6d42f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aaB9QyTIlLMoD0Zf",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['type your email'] }}",
        "subject": "=Hi {{ $('On form submission').item.json['What is your name'] }} ",
        "emailType": "text",
        "message": "= hi {{ $('On form submission').item.json['What is your name'] }}\n\nwe recive your request {{ $('On form submission').item.json['why join'] }}\n soon",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        64,
        288
      ],
      "id": "d0302226-c97d-46c0-90fa-4cdb15e49b2f",
      "name": "Send a message1",
      "webhookId": "35c7f434-47ac-490c-88d9-e01bdab86752",
      "credentials": {
        "gmailOAuth2": {
          "id": "Akfxp65UCevrEpLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a lead management specialist.\n\nHere are the details:\n name : {{ $('On form submission').item.json['What is your name'] }}\n\n Email :{{ $('On form submission').item.json['type your email'] }}\n\nreason : {{ $('On form submission').item.json['why join'] }}\n\nIf they want to be a freelancer, then mark this lead as grade \"A\".\n\n\"Lead Qauality\": \"Enter the grade here\"\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -576,
        96
      ],
      "id": "469faec8-f719-4394-8801-70d86a987205",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        304
      ],
      "id": "7db13c9b-94bb-4414-84ab-c58727bac8b4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NSQH7jdDrTIGJRAn",
          "name": "Automation learner pro"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"Lead Qauality\":\"Enter the grade here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        320
      ],
      "id": "55002037-9b42-4de5-a260-515780310837",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "adbeea76-303d-48fb-8c19-a780593e9754",
              "leftValue": "={{ $json.output['Lead Qauality'] }}",
              "rightValue": "A",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1b108c28-24c4-4d20-ae39-b4ebb572ba8e",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        160
      ],
      "id": "988eb094-151b-447c-aade-f01939cc0681",
      "name": "If"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5c67837a-a4db-4de0-adbc-3789a9d33c33",
  "triggerCount": 0,
  "tags": []
}
