Backup_2025-09-26Social Media Automation.json
{
  "createdAt": "2025-09-04T05:31:19.075Z",
  "updatedAt": "2025-09-04T16:04:40.000Z",
  "id": "D4qRHvkCwZGh5Mkl",
  "name": "Social Media Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Linkedin post Generator",
        "formDescription": "Fill out these fields, and you will have a full LinkedIn post ready to go in a minute.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Topic of the post",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        960,
        -256
      ],
      "id": "1a404617-c4eb-48b7-b524-9d5affa36f01",
      "name": "On form submission",
      "webhookId": "0bccd029-a4b1-4c40-95af-b981255b75e8"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        0
      ],
      "id": "53131763-337c-4f97-8085-c083dba87cf8",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "person": "5Etr19msQ9",
        "text": "={{ $('Linkedin post creation Agent').item.json.output }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1680,
        192
      ],
      "id": "9d906be5-b5be-4950-b95e-54f8a05095fa",
      "name": "LinkedIn"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of post: {{ $json['Topic of the post'] }}\n\nTarget Audience: {{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "=#overview\nYou are an AI Agent specialised on creating professional, educational and engaging linkedin post based on any topic provided by user.\n\n## Objectives\nAlways begin by conducting a real type search using the tavily tool to gather the most accurate, up-to-date information on the topic. The post should be written to appeal to the provided target audience.\n\nBased on your research generate a well-structured linkedin post that:\n- Start with the engaging hook\n- Professional in tone\n- Clear and easy to read\n- use short line and necessary gap after 2/3 lines\n- Post should be educational, insightful and informative\n- Light on emojis (use only when highly relevent and minimal)\n- Include proper source attribution ( e.g, \"according to [source]\" )\n- Contain relevent hastag to increase visibility\n- End with the clear call to action (e.g, asking for throughts, feedback, shares or relevent question)\n\n## Outpur Instruction: \n- You ONLY out should be the final linkedin post text.\n- Do not include explanation, nodes or anything beyound the post itself.\n\n## Example workflow\n1. Receive the topic ( e.g, e-commerce automation)\n2. Use tavily to gather recent information or case studies\n3. Draf a linkedin post to use these information\n4. Formate it with source citation, clean structure, optional hastags, and a call to action.\n\n## Sample post\nBelow i provide you some of sample post, you can analyze and copy - the post writing style, tone, post structure, post lenth and call to action.\n\n\n[ Here some Sample post: \n\n1. ( Let’s bust a common leadership myth.\n\n“Leaders should always have the answers.”\n\nThat sounds great, right?\nBut it’s wrong.\n\nGreat leaders don’t have all the answers,\nThey ask the right questions.\n\nInstead of pretending to know everything, they:\n\n •  Listen deeply\n •  Stay curious\n • Invite better thinking from the team\n\nBecause leadership isn’t about being the smartest person in the room.\nIt’s about making space for others to shine.\n\nAnother myth?\n\n“Leaders must always be in control.”\n\nIn reality, strong leaders trust their people.\nThey delegate, let go, and empower others to own the outcome.\n\nThat’s how great teams grow.\n\n👉 What’s one leadership myth you had to unlearn?\n\n♻️ Repost if you found this insightful!\n👊 Follow MD Mirajul Islam for more like this!) \n\n\n2. I used to think automation was only for “tech people.”\n\nFor a long time, I resisted it.\n\nI told myself:\nI can do it faster by hand.\nIt’s not worth setting up.\nI don’t have time to learn this.\n\nBut the truth?\nI was just stuck in my comfort zone.\n\nThen one week, I tracked my time.\nI was spending hours doing the same things:\n\nSending follow-up emails\n\nOrganizing leads\n\nCopy-pasting info between tools\n\nSo I tried automating just one task.\nIt saved me 4 hours that week alone.\n\nThat’s when it clicked.\n\nSmall systems > Burnout.\nTime saved = Time to grow.\n\nNow, automation is a core part of how I work.\n\n👉 What’s one task you’re still doing manually that could be automated?\n\n♻️ Repost if you found this insightful!\n👊 Follow MD Mirajul Islam for more like this!\n\n\n3. If you don’t know what to automate, AI agents won’t help.\n\nThat’s why I use a simple 3-step framework\nto find the best tasks to hand off to AI.\n\nIt’s built for small business owners, freelancers, and lean teams 👇\n\nStep 1: \nList your repeated tasks\nIf you do it more than 3x a week, write it down.\n\n•  Sending client onboarding emails\n•  Answering the same 5–10 questions\n•  Updating spreadsheets after calls\n\nStep 2: \nHighlight the rule-based ones\nAsk: “Can this be done by following simple logic?”\n\n•  If someone fills a form → send a welcome message\n• If a lead doesn’t reply → follow up in 2 days\n•  If a support ticket is tagged → assign to the right person\n\nStep 3:\nFind the time-wasters\nThese are the tasks that drain your time,\nBut don’t need your creativity.\n\n•  Sorting emails\n•  Booking appointments\n• Pulling data for reports\n\nStart small.\nAutomate one task.\nSave one hour.\nRepeat.\n\nOver time, those saved hours turn into serious growth.\n\n👉 What’s one task in your business you know you should automate?\n\n♻️ Repost if you found this insightful!\n👊 Follow MD Mirajul Islam for more like this! ]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1184,
        -256
      ],
      "id": "802a4901-0903-4eb7-9695-78ef957da7af",
      "name": "Linkedin post creation Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Linkedin Post:  \n\n{{ $json.output }}",
        "options": {
          "systemMessage": "=## Role\nYou are a creative AI Agent that converts LinkedIn posts into visual prompt descriptions for generating marketing-style graphics using AI image generation tools.\n\nThese visuals are meant to visually support, enhance, or illustrate the post’s main message in a way that feels modern, professional, and aligned with LinkedIn branding standards.\n\n\n## Objectives\nRead and understand the LinkedIn post content.\n\nIdentify the main insight, message, or takeaway.\n\nTranslate that into a clear, specific, and compelling image prompt.\n\nFocus on generating a marketing-oriented visual, not a literal interpretation or photorealistic scene.\n\n\n## Prompt Criteria\nYour final prompt must:\n\nSupport the core message of the LinkedIn post.\n\nLook professional, modern, and clean – ideal for LinkedIn feeds.\n\nInclude creative layout suggestions, where useful.\n\nMention text space or infographic-style elements when relevant.\n\nFeel like it was made by a top-tier brand designer or creative marketer.\n\nInclude numerical stats if present in the post.\n\n\n## Output Rules\nOutput only the final image prompt – no quotation marks, no explanations.\n\nDo NOT repeat or rephrase the original LinkedIn post.\n\nDo NOT leave placeholders like: “Header area reserved for customizable callout text.”\n\nKeep the tone focused, specific, and image-generator friendly.\n\n\n## Style & Elements\nInspire the image generator using descriptive, design-savvy language:\n\nVisual elements: Icons, abstract shapes, charts, overlays, illustrations\n\nConcepts: Metaphors, tech-human fusion, process visuals\n\nTypography: Bold headline areas, infographic markers, clean sans-serif zones\n\nLayout: “Split screen design”, “central icon with orbiting stats”, “top banner with callout text zone”\n\nVibe: Minimalist, flat design, soft gradients, brand-consistent colors\n\n📌 Example Prompt\nA minimalist, flat-style graphic showing a human brain interconnected with mechanical gears, symbolizing AI and automation. Clean gradient background, central icon, and placeholder for bold headline text at the top. Abstract tech elements orbiting the core."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1536,
        -256
      ],
      "id": "ef8b1c89-5a52-4bf2-9363-a39c9e45c32d",
      "name": "Image Prompt Creation Agent"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1568,
        -16
      ],
      "id": "175f5079-9905-4334-9512-e21a00a6c428",
      "name": "Search in Tavily"
    },
    {
      "parameters": {
        "url": "={{ $json[\"data\"][0][\"url\"] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        -256
      ],
      "id": "6a182e58-51c4-4f5b-957c-307092b52eeb",
      "name": "Binary to  String File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer <You Token>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"{{ $json.output }}\",\n  \"n\": 1,\n  \"size\": \"1024x1024\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        -256
      ],
      "id": "5e7147e6-12a6-47ec-b3dc-0ce47975662a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "name": "Image",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1PsKQ9SZJoWzeVoqxs6FHS0m28Izl6MJo",
          "mode": "list",
          "cachedResultName": "Ai Image Resource",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PsKQ9SZJoWzeVoqxs6FHS0m28Izl6MJo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2336,
        -256
      ],
      "id": "d2851dff-08ff-43ac-941e-f1b2cca0c906",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "={{ $('Linkedin post creation Agent').item.json.output }}\n\nMedia: {{ $json.webViewLink }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Approve",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Modification"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2560,
        -256
      ],
      "id": "d9cfd300-c82e-4da5-9878-ecac117e168d",
      "name": "Send a text message1",
      "webhookId": "e7dcd347-a3ed-4bd5-85d0-806515460db2",
      "credentials": {
        "telegramApi": {
          "id": "lodIyBtxAtORSIXq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.Approve }}",
                    "rightValue": "=Yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5005d41b-eb82-4ac7-8914-629152db8b3b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b46cf347-dbb1-452c-a46d-0276339dcf41",
                    "leftValue": "={{ $json.data.Modification }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modification"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1072,
        368
      ],
      "id": "b8940961-b18d-4de6-b8c9-9285b6d35e2d",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request1').item.json.data[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        192
      ],
      "id": "0a6b7c22-489a-4891-b328-0b44a44bcfb8",
      "name": "Binary to  String File1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $('Linkedin post creation Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1680,
        368
      ],
      "id": "e70aaa81-e4a1-4d64-ab93-abf202cf875b",
      "name": "Facebook Graph API",
      "alwaysOutputData": false,
      "credentials": {
        "facebookGraphApi": {
          "id": "BMdQdFKTYmPSINNf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request1').item.json.data[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        368
      ],
      "id": "2ce6dc7e-1290-434c-8990-8c9986ad6055",
      "name": "Binary to  String File2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7eec954-b0b6-4c8f-a87f-5b508fbe09db",
              "name": "imageUrl",
              "value": "={{ $('HTTP Request1').item.json.data[0].url }}",
              "type": "string"
            },
            {
              "id": "9f0c213f-5b96-43c9-be11-9336807ed47a",
              "name": "captionText",
              "value": "This is a test  post",
              "type": "string"
            },
            {
              "id": "54cd7f14-47ab-4924-817f-1fc6ca4c197e",
              "name": "node",
              "value": "17841476896609722",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        544
      ],
      "id": "d11f1124-8516-4118-b368-ef83b0e827cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Linkedin post creation Agent').item.json.output }}"
              },
              {
                "name": "node",
                "value": "={{ $json.node }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1680,
        544
      ],
      "id": "bcc3563b-4894-46b2-8333-8581f1e1b1ce",
      "name": "Instagram contener ID",
      "credentials": {
        "facebookGraphApi": {
          "id": "BMdQdFKTYmPSINNf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Edit Fields').item.json.node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Edit Fields').item.json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Linkedin post creation Agent').item.json.output }}"
              },
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1904,
        544
      ],
      "id": "4ddc1920-a5c8-4972-be61-c8c9e2c22b82",
      "name": "Instagram post",
      "credentials": {
        "facebookGraphApi": {
          "id": "BMdQdFKTYmPSINNf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Content and Image generation system",
        "height": 496,
        "width": 2000,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        -368
      ],
      "id": "9b7c771e-70d4-44b2-b22b-bbe93ba86644",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Posting on \n## LinkedIn, \n## Facebook and \n## Instagram\n",
        "height": 560,
        "width": 1440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        160
      ],
      "id": "854d240d-d596-4244-9133-8aa20330ef9d",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Linkedin post creation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin post creation Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Creation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin post creation Agent": {
      "main": [
        [
          {
            "node": "Image Prompt Creation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Creation Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Linkedin post creation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Binary to  String File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to  String File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Binary to  String File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Binary to  String File2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to  String File1": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to  String File2": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Instagram contener ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram contener ID": {
      "main": [
        [
          {
            "node": "Instagram post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "010566df-d672-4b83-8db3-49e305dfb322",
  "triggerCount": 0,
  "tags": []
}
