Backup_2025-09-261st RAG.json
{
  "createdAt": "2025-08-03T08:56:57.518Z",
  "updatedAt": "2025-08-17T19:35:10.000Z",
  "id": "iEn8tAS1wYOqEFSK",
  "name": "1st RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -192
      ],
      "id": "92901dfd-cbaa-4eac-9c2a-775f1a785290",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Aditya Das",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -528,
        -192
      ],
      "id": "10183dd6-eed8-49c9-b46e-3683ae03bd63",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eMBg8QrZHMSKG9cA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        -192
      ],
      "id": "b4a8e8ce-2172-400e-b3d1-a5382d4e78ab",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eMBg8QrZHMSKG9cA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag3",
          "mode": "list",
          "cachedResultName": "rag3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -80,
        -192
      ],
      "id": "98922fdb-de5f-468d-bfaa-045134fe7856",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "QljHiMVrhSXctuDZ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        16
      ],
      "id": "62264d21-543a-4aea-99b6-35479f426f66",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "NSQH7jdDrTIGJRAn",
          "name": "Automation learner pro"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Type",
                "value": "Redacted"
              }
            ]
          }
        }
      },
      "id": "139ffb3e-91f8-421a-9da6-c5193299ba2d",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -16,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -64,
        176
      ],
      "id": "e83c30da-266e-4c86-93a4-3915dc5a7417",
      "name": "Character Text Splitter"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "efc20a7d-bb14-43f3-8b98-5e6f27cac7a2",
  "triggerCount": 0,
  "tags": []
}
