Backup_2025-09-26Whatsapp Bot.json
{
  "createdAt": "2025-08-11T13:18:18.773Z",
  "updatedAt": "2025-09-07T15:58:07.000Z",
  "id": "gVDUtmtJMeMWCrkG",
  "name": "Whatsapp Bot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -64
      ],
      "id": "ef7c3a54-aec3-4f36-93f1-f8755b4acaf7",
      "name": "WhatsApp Trigger",
      "webhookId": "f5a8800f-7c67-457e-94bb-8c3a6a68cb3a",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "5mEiwjH2k0KJxF7Y",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a WhatsApp Business Assistant AI connected to a Google Sheet.\n\nIf the user says “Hi” or similar greetings, reply politely with a short welcome message, for example:\n“Hi, welcome! How can I help you today?”\n\nOnly give the information the user specifically asks for from the Google Sheet.\n\nNever send all the business data together.\n\nIf the question is outside of the Google Sheet or not related to the business, reply politely:\n“Thanks for your message! That information is not available in our records. Can I help you with something else related to our services?”\n\nKeep answers short, clear, and professional.\n\nDo not guess or create any information outside the Google Sheet.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        256,
        -64
      ],
      "id": "1e3c6348-49e2-4407-831a-e21f6aa96cb9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        144
      ],
      "id": "72256c72-55e9-497d-a80c-f16daabee0fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NSQH7jdDrTIGJRAn",
          "name": "Automation learner pro"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "765279219996882",
        "recipientPhoneNumber": "+8801317003255",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        640,
        -64
      ],
      "id": "64327e51-dc71-42cc-a5e5-06c867822311",
      "name": "Send message",
      "webhookId": "24043d40-6035-4474-8a56-5634a2263e66",
      "credentials": {
        "whatsAppApi": {
          "id": "Zv20p9QeoVztnMug",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "10"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        144
      ],
      "id": "4629b349-2eae-49f2-b5a1-17c1f7597201",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ufvQ4J8_UYx1KdSMLw4VZe_rF76fEXD0DFu6gX3Mvzo",
          "mode": "list",
          "cachedResultName": "ai junction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ufvQ4J8_UYx1KdSMLw4VZe_rF76fEXD0DFu6gX3Mvzo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ufvQ4J8_UYx1KdSMLw4VZe_rF76fEXD0DFu6gX3Mvzo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        576,
        128
      ],
      "id": "61e81f06-27c5-4d9c-ae91-daa9570e8544",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LqP8MSiwVRVCSrSN",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e416e6e1-eee2-497a-ac54-149bd0c52347",
  "triggerCount": 1,
  "tags": []
}
