Backup_2025-09-26Basic Gmail Manager.json
{
  "createdAt": "2025-08-17T19:40:09.439Z",
  "updatedAt": "2025-08-18T19:09:14.000Z",
  "id": "rfHeQw1RLZQ1x51r",
  "name": "Basic Gmail Manager",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "667026a2-ae51-4967-ae39-6a6fc6068b33",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Akfxp65UCevrEpLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "83090833-5821-402f-9500-cdbc22ddb309",
      "name": "Get many messages",
      "webhookId": "7d1b6168-c69d-43c8-a247-338d821d9f19",
      "credentials": {
        "gmailOAuth2": {
          "id": "Akfxp65UCevrEpLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d25bb90-a366-40b4-a3a8-51242d56b2ad",
              "leftValue": "={{ $json.labels[3].id }}",
              "rightValue": "UNREAD",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "5c731e4d-93e9-4da3-87fe-2e53f49fac1c",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=here are an email ditials \nSubject : {{ $json.Subject }}\nBody : {{ $json.snippet }}\nSender : {{ $json.From }}",
        "options": {
          "systemMessage": "=Here is the exact “Expression” prompt as shown in the screenshot:\n\nYou are an expert inbox manager.\n\n**#Tools added- Email Sending tool: Call this tool to send an email reply.\n\nGet Email data: Use this tool to get the previous conversation details before giving a reply.\n\n#Rule:\n\nAlways reply with a human tone, don't be robotic, or don't use any robotic words.\n\nAlways check for previous conversations to write better email reply."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "9a5fc894-81ef-41db-8d4f-6476d543e399",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        240
      ],
      "id": "9b85dc82-b38b-43eb-aa73-0f59e31cc3b5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NSQH7jdDrTIGJRAn",
          "name": "Automation learner pro"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        976,
        208
      ],
      "id": "4d86950c-61d9-4421-aa09-f6d178ae100b",
      "name": "Send a message in Gmail",
      "webhookId": "3f8ccefc-9d31-4cdd-bbd4-35543afd49f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Akfxp65UCevrEpLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Filter').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1056,
        0
      ],
      "id": "dbee5d0a-c5f3-4cde-bd7e-3b3a9ecd2c68",
      "name": "Mark a message as read",
      "webhookId": "9173fe91-b954-4ede-821c-aec96a3e58b2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Akfxp65UCevrEpLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "sender": "={{ $('Filter').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        784,
        208
      ],
      "id": "cfa5db70-8c04-4250-af3d-03d5b54c9f4a",
      "name": "Get many messages in Gmail",
      "webhookId": "edc88acd-4f33-4f8c-8b0c-44443e63514a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Akfxp65UCevrEpLh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1755543985,
        "possibleDuplicates": [
          "198be9286bbfe626"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a87025ac-e4a7-4ab8-97f2-f7d4a9b73437",
  "triggerCount": 1,
  "tags": []
}
